input,
#counter,
#controls {
  text-align: center;
  margin: auto;
  background-color: rgb(199, 161, 161);
}

#counter {
  margin: 10px;
  font-size: 100px;
  font-weight: 500;
}

#controls {
  width: 600px;
  background-color: brown;
}

#controls button {
  text-transform: capitalize;
  width: 140px;
  height: 40px;
  margin: 16px;
  font-size: 20px;
  font-weight: 500;
  border-style: none;
  color: white;
  background-color: rgb(181, 152, 214);
  cursor: pointer;
}
#controls button:hover  {
  background-color: rgb(101, 237, 247);
}
