.html,
body {
  margin: 0;
  padding: 0;
}

.body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background: #dad5d5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  font-weight: 300;
}

.stopwatch {
  position: relative;
  border-radius: 2px;
}  

.headline {
  width: 100%;
  font-size: 100px;
  font-weight: 200;
  text-align: center;
  color: rgba(70, 6, 90, 0.993);
  text-rendering: optimizeLegibility;
  margin: 20px auto;
}

.indicator {
  background: #fff;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(0, 0, 0, 0.753);
  text-rendering: optimizeLegibility;
  box-shadow: 0 2px 4px 0 rgba(58, 57, 57, 0.5), 0 25px 50px 0 rgba(61, 59, 59, 0.712);
  margin: 0 auto;
}

.main {
  padding-top: 40px;
  padding-bottom: 20px;
  border: none;
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
  background: #fff;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 24px;
}

.button {
  border-width: 1px;
  width: 85px;
  height: 37px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  margin: auto;
}

  .button:hover {
    background-color: rgb(241, 114, 114);
}   

.is-dark1 {
  background-color: #128b07;
  border-color: transparent;
  color: #fff
}
.is-dark2 {
  background-color: #910b0b;
  border-color: transparent;
  color: #fff
}
.is-dark3 {
  background-color: #b6c909;
  border-color: transparent;
  color: #fff
}
.is-dark4 {
  background-color: #000000;
  border-color: transparent;
  color: #fff
}